@media (max-width: 600px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  section {
    max-width: 98vw;
    width: 98vw;
    padding: 10px;
    margin: 10px 0;
  }
  input[type="number"],
  input[type="button"] {
    box-sizing: border-box;
    margin: 5px 0;
    box-sizing: border-box;
  }
}
