@charset "UTF-8";

body {
  font: normal 1.2em Arial;
  background: url("../imagens/img-trans-bandeiras.webp") no-repeat fixed center center;
  background-size: contain;
  background-color: teal;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div#form {
  color: white;
  background-color: rgba(0, 0, 0, 0.88);
  height: auto;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  padding: 20px; 
}

